@model FurkanBelikirikSmartProFinalProject.Entities.Yazarlar

@{
    ViewBag.Title = "Yazar Duzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Yazar Düzenle</h2>
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            <form>
                <div class="mb-3">
                    <label for="inputAd" class="form-label">Yazar Adı</label>
                    @Html.TextBoxFor(x => x.YazarAdi, new { @class = "form-control", placeholder = "Yazarın adını girin", required = "required" })
                </div>
                <button type="submit" class="btn btn-primary w-100">Düzenle</button>
            </form>
        }
        @if (ViewBag.Mesaj == 1)
        {
            <div class="alert alert-success d-flex align-items-center mt-3" role="alert">
                <i class="bi bi-check-circle-fill me-2"></i>
                <div>
                    @Model.YazarAdi adlı yazar başarıyla düzenlendi!
                </div>
            </div>
        }
        else if (ViewBag.Mesaj == 0)
        {
            <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                <div>
                    Düzenleme işlemi sırasında bir hata meydana geldi!
                </div>
            </div>
        }
    </div>
</div>